# IPython Notebook
.ipynb_checkpoints
.ipynb_checkpoints/

# Local "dirty" files for tests
ignore.ipynb
ignore.ipynb/
ignore.py
ignore.py/

# Local text file for notes
ignore.md
ignore.md/

# Pycache
__pycache__
__pycache__/

# .VSCode
.vscode
.vscode/

#.hypothesis
.hypothesis
.hypothesis/